<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const token = localStorage.getItem('token');
            if (!token) {
                window.location.href = '/login';
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <p>Welcome, <%= user.email %></p>
        <form action="/auth/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a href="/profile"><button>Go to Profile</button></a>
        <a href="/profiles"><button>View All Profiles</button></a>
    </div>
</body>
</html>
